@import '../../styles/colors.scss';

.header {
  position: fixed;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  transition: position 5s;
  border-bottom: .3rem solid $red;
  background-color: $white;
  backdrop-filter: blur(5px);
  width: 100%;
  z-index: 50;
  padding: 0 0 0 1rem;

  @media screen and (min-width: 768px) {
    padding: 0 1rem;
  }

  .logo {
    img {
      height: 50px;
    }
  }

  .contact {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      gap: 2rem;
      justify-content: center;
      align-items: center;

      span {
        font-size: 0.0001em
      }

      svg {
        color: $red;
        width: 1.7rem;
        height: 1.7rem;
      }
    }
  }
}

.box {
  height: 10vh;
}