@import '../../styles/colors.scss';

.header {
  position: sticky;
  top: 0;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 2px solid $red;
  background-color: $black;

  .logo {
    img {
      height: 6rem;
    }

    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }
}