@import '../../styles/colors.scss';

.reviews {
  width: 20rem;
  height: 25rem;
  box-shadow: 1px 1px 5px $white;
  border-radius: 1rem;
  color: $black;
  display: flex;
  align-items: center;
  background: linear-gradient(10deg, white, $white);

  .reviewsBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 1rem;

    .title {
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
    }

    .starts {
      display: flex;
      gap: .3rem;
      justify-content: center;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }

    .description {
      color: black;
    }

    .link {
      text-align: center;
      text-decoration: underline;
      color: $black;
      font-size: 1.1em
    }
  }
}