@import '../../styles/colors.scss';

.title {
  position: relative;
  margin: 10vh 0;
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(10deg, $black, $red);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $red;
  padding: .5rem 0;
  width: 90vw;

  @media screen and (min-width:768px) {
    width: auto;
    margin: 10vh 0;
  }

  &::after,
  &::before {
    content: '';
    border-radius: 1rem;
    position: absolute;
    bottom: -10px;
    left: 0;
    background: linear-gradient(70deg, $black, $red);
    width: 50%;
    height: 4px;
  }

  &::before {
    background: linear-gradient(70deg, $red, $black);
    bottom: -20px;
    width: 25%;
  }
}