@import '../../styles/colors.scss';

.cookies {
  position: fixed;
  bottom: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: $white;
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
  z-index: 30;

  @media screen and (min-width: 768px) {
    padding: 2rem 15rem;
  }

  p {
    font-size: .9rem;
  }

  h3 {
    margin: .1em;
  }

  .cookiesButton {
    padding: .5rem;
    width: 50%;
    margin-bottom: .5em;
    margin-top: 1rem;
    background-color: $red;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      width: 250px;
    }
  }

  a {
    text-decoration: underline;
    margin-left: .5rem;
  }
}

.closed {
  display: none;
}